@page
@model ProdottoDettaglioModel
@{
  ViewData["Title"] = "Prodotto Dettaglio";
}

<h1>@ViewData["Title"]</h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" alt="img" src="@Model.Prodotto.Immagine">
  <div class="card-body">
    <h5 class="card-title">
      @Html.DisplayFor(model => model.Prodotto.Nome)
    </h5>
    <p class="card-text">
        @Html.DisplayFor(model => model.Prodotto.Dettaglio)
    </p>
    <a href="#" class="btn btn-primary">
      Buy 
        @Html.DisplayFor(model => model.Prodotto.Prezzo)
        euro
    </a>
  </div>
</div>
<div>
    @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Prodotto.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Prodotto.Nome)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Prodotto.Prezzo)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Prodotto.Dettaglio)
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.Prodotto.Id)
     </td>
      <td>
        @Html.DisplayFor(model => model.Prodotto.Nome)
      </td>
      <td>
        @Html.DisplayFor(model => model.Prodotto.Prezzo)
      </td>
      <td>
        @Html.DisplayFor(model => model.Prodotto.Dettaglio)
     </td>
    </tr>
    <a asp-page="Prodotti">Torna a Prodotti</a>
  </tbody>
</table>