@page
@model ProdottiModel
@{
  ViewData["Title"] = "Prodotti";
  int a = 1;
  
}
<h1>@ViewData["Title"]</h1>

<p>Beccati tutti i prodotti</p>

<form method="get">
  <div class="form-group">
    <label for="minPrezzo">Min Prezzo</label>
    <input type="text" class="form-control" name="minPrezzo" />
  </div>

  <div class="form-group">
    <label for="maxPrezzo">Max Prezzo</label>
    <input type="text" class="form-control" name="maxPrezzo" />
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Filtra</button>
</form>


<div id="carouselExample" class="carousel slide" style="width: 500px">
  <div class="carousel-inner">
   
  @foreach (var prodotto in Model.Prodotti)
  {
   
    @if (a == 1)
    {
      <div class="carousel-item active">
        <img src="@prodotto.Immagine" class="d-block w-100" alt="img1">
          <div class="carousel-caption d-none d-md-block">
            <h5>@prodotto.Nome</h5>
            <p>Prezzo @prodotto.Prezzo Euro</p>
          </div>
      </div>
      a++;
    }
    else 
    {
      <div class="carousel-item">
        <img src="@prodotto.Immagine" class="d-block w-100" alt="img">
         <div class="carousel-caption d-none d-md-block">
          <h5>@prodotto.Nome</h5>
          <p>Prezzo @prodotto.Prezzo Euro</p>
        </div>
      </div>
    }
  }

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div>
  <div style="display: flex; border-bottom: 2px solid; padding-top: 10px; padding-bottom: 10px">
    <div style="margin-left: 20px">
      <b>
        Nome
      </b>
    </div>
    <div style="margin-left: 170px">
      <b>
        Prezzo
      </b>
    </div>
    <div style="margin-left: 370px">
      <b>
        Dettaglio
      </b>
    </div>
  </div>

  @foreach (var prodotto in Model.Prodotti)
  {
    <div style="display: flex; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #dee2e6">
      <div style="margin-left: 20px">@prodotto.Nome</div>
      <div style="margin-left: 140px">@prodotto.Prezzo</div>
   <a class="btn btn-danger mx-3" asp-area="" asp-page="ModificaPrezzo" asp-route-id="@prodotto.Id">ModificaPrezzo</a>

      <div style="margin-left: 200px">
        <a asp-page="ProdottoDettaglio" asp-route-id="@prodotto.Id">
          @prodotto.Dettaglio
        </a>
      </div>
   <a class="btn btn-primary mx-3" asp-area="" asp-page="CancellaProdotto" asp-route-id="@prodotto.Id">RemoveProdotto</a>

    </div>
  }
</div>

<div class="container my-5 ">
  <div class="row p-2" style="border-bottom: 2px solid">
    <div class="col-md-2">
      <b>
        Nome
      </b>
    </div>
    <div class="col-md-2">
      <b>
        Prezzo
      </b>
    </div>
    <div class="col-md-4">
      <b>
        Dettaglio
      </b>
    </div>
  </div>
  @foreach (var prodotto in Model.Prodotti)
  {
    <div class="row border-bottom p-2">
      <div class="col-md-2">@prodotto.Nome</div>
    @{
            if (prodotto.Prezzo < 101)
            {
              <div class="col-md-2 bg-danger">@prodotto.Prezzo</div>
            }
            else if (prodotto.Prezzo < 301)
            {
              <div class="col-md-2 bg-warning">@prodotto.Prezzo</div>
            }
            else if (prodotto.Prezzo < 701)
            {
              <div class="col-md-2 bg-success">@prodotto.Prezzo</div>
            }
            else
            {
              <div class="col-md-2 bg-primary">@prodotto.Prezzo</div>
            }
}
      <div class="col-md-2">
        <a asp-page="ProdottoDettaglio" asp-route-itemid="@prodotto.Id">
          @prodotto.Dettaglio
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-warning mx-3" asp-area="" asp-page="ModificaProdotto" asp-route-id="@prodotto.Id">ModificaProdotto</a>
      </div>
    </div>
  }

</div>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Prezzo</th>
      <th>Dettaglio</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var prodotto in Model.Prodotti)
    {
      <tr>
        <td>@prodotto.Nome</td>
        <td>@prodotto.Prezzo</td>
        <td>
          <a asp-page="ProdottoDettaglio" asp-route-id="@prodotto.Id">
            @prodotto.Dettaglio
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="row">
  @foreach (var item in Model.Prodotti)
  {
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">@item.Nome</h5>
          @{
            if (item.Prezzo < 101)
            {
              <p class="card-text text-success">@item.Prezzo</p>
              <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id" class="btn btn-danger">
                Dettaglio
              </a>
            }
             else if (item.Prezzo < 301)
            {
              <p class="card-text text-success">@item.Prezzo</p>
              <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id" class="btn btn-primary">
                Dettaglio
              </a>
            }
            else if (item.Prezzo > 601)
            {
              <p class="card-text text-success">@item.Prezzo</p>
              <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id" class="btn btn-success">
                Dettaglio
              </a>
            }
            else
            {
              <p class="card-text text-success">@item.Prezzo</p>
              <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id" class="btn btn-warning">
                Dettaglio
              </a>
            }
          }

        </div>
      </div>
      <br />
    </div>
  }
</div>

<form method="get">
  <input type="hidden" name="minPrezzo" value="@Request.Query["minPrezzo"]" />
  <input type="hidden" name="maxPrezzo" value="@Request.Query["maxPrezzo"]" />
 @for (int i = 1; i <= Model.numeroPagine; i++)
 {
  <button type="submit" class="btn btn-primary" name="pageIndex" value="@i">@i</button>
 }
 
</form>