@page
@model GiocaModel
@{
  ViewData["Title"] = "Gioca";
}

<h1>@ViewData["Title"]</h1>

<h3>Benvenuto @Model.Utente.Nome</h3>

<a 
class="btn btn-danger m-5 p-5" 
asp-route-nome="@Model.Utente.Nome" 
asp-page="PartitaDoppia"
>
Gioca modalità a risposta doppia
</a>
<a 
class="btn btn-danger m-5 p-5" 
asp-route-nome="@Model.Utente.Nome" 
asp-page="PartitaDoppia"
>
Gioca modalità intermedia
</a>
<a 
class="btn btn-danger m-5 p-5" 
asp-route-nome="@Model.Utente.Nome" 
asp-route-difficolta="facile" 
asp-page="Partita"
>
Gioca modalità facile
</a>