@page
@model PartitaModel
@{
  ViewData["Title"] = "Partita";
  int numerodomanda = 1;
  int limit = 2;
  string a = "a";
  string b = "b";
  string c = "c";
  string d = "d";
  string name = "risposta";
  string risposta = "rispostaGiusta";
}

<h1>@ViewData["Title"]</h1>

<h3>Benvenuto @Model.Utente.Nome</h3>


@if (@ViewData["difficolta"] == "difficile")
{
  <form method="post">
    @foreach (var domandaAperta in Model.DomandeAperte)
    {
      name = numerodomanda + "risposta";
      risposta = numerodomanda + "rispostaGiusta";

      <p>@domandaAperta.id)</p>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">@domandaAperta.domanda</label>
        <textarea class="form-control" id=@name required name=@name rows="2"></textarea>
      </div>
    <input type="hidden" required name=@risposta value="@domandaAperta.risposta">
    }
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
}
else if (@ViewData["difficolta"] == "intermedia")
{
  <form method="post">
    @foreach (var domanda in Model.Domande)
    {
      a = numerodomanda + "opzioneA";
      b = numerodomanda + "opzioneB";
      c = numerodomanda + "opzioneC";
      d = numerodomanda + "opzioneD";
      name = numerodomanda + "risposta";
      risposta = numerodomanda + "rispostaGiusta";

      <div>
        <p>@domanda.id</p>
        <p>@domanda.domanda</p>


        <div class="form-check">
          <input class="form-check-input" type="radio" value=@a required name=@name id=@a>
          <label class="form-check-label" for=@a>
            @domanda.opzioneA
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@b required name=@name id=@b>
          <label class="form-check-label" for=@b>
            @domanda.opzioneB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@c required name=@name id=@c>
          <label class="form-check-label" for=@c>
            @domanda.opzioneC
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@d required name=@name id=@d>
          <label class="form-check-label" for=@d>
            @domanda.opzioneD
          </label>
        </div>
        <input type="hidden" required name=@risposta value="@domanda.risposta">
      </div>

      numerodomanda++;
    }
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
}

else
{
  <form method="post">
    @foreach (var domanda in Model.Domande)
    {
      a = numerodomanda + "opzioneA";
      b = numerodomanda + "opzioneB";
      c = numerodomanda + "opzioneC";
      d = numerodomanda + "opzioneD";
      name = numerodomanda + "risposta"; // non sta funzionando
      risposta = numerodomanda + "rispostaGiusta";


      <div>
        <p>@domanda.id</p>
        <p>@domanda.domanda</p>

        <div class="form-check">
          <input class="form-check-input" type="radio" value=@a required name=@name id=@a>
          <label class="form-check-label" for=@a>
            @domanda.opzioneA
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@b required name=@name id=@b>
          <label class="form-check-label" for=@b>
            @domanda.opzioneB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@c required name=@name id=@c>
          <label class="form-check-label" for=@c>
            @domanda.opzioneC
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value=@d required name=@name id=@d>
          <label class="form-check-label" for=@d>
            @domanda.opzioneD
          </label>
        </div>
      <input type="hidden" required name=@risposta value="@domanda.risposta">
      </div>

      numerodomanda++;
    }
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>

}
