@page
@model ValidazioneDoppiaModel
@{
  ViewData["Title"] = "Validazione risposte doppie";
  string classe =  "display: flex; margin-bottom: 5px; padding: 5px; border: 3px solid red; width: 500px";
}

<h1>@ViewData["Title"]</h1>
<h3>di @Model.Utente.Nome</h3>

@foreach (var Verifica in Model.Giuste)
{
  @if (Verifica.Uguali == true)
  {
    classe =  "display: flex; margin-bottom: 5px; padding: 5px; border: 3px solid green; width: 500px";
  }
  else
  {
    classe =  "display: flex; margin-bottom: 5px; padding: 5px; border: 3px solid red; width: 500px";
  }

  @if (Verifica.RispostaUtente == "Nada")
  {

  }
  else
  {
    <div style = "@classe">
      <div style="padding: 10px; margin: 2px">
       id: @Verifica.Id
      </div>
      <div style="padding: 10px; margin: 2px; border: 2px solid blue">
        risposta data @Verifica.RispostaUtente
      </div>
      <div style="padding: 10px; margin: 2px; border: 2px solid rgb(26, 129, 22)">
        risposta giusta 1 @Verifica.RispostaGiusta1
      </div>
      <div style="padding: 10px; margin: 2px; border: 2px solid rgb(26, 129, 22)">
        risposta giusta 2 @Verifica.RispostaGiusta2
      </div>
    </div>
  }
}
<h1>
 Punteggio: @Model.Punteggio
</h1>
 <a class="btn btn-danger m-2" asp-page="Punteggi" asp-route-nome="@Model.Utente.Nome"> Ok </a>

