@page
@model ValidazioneModel
@{
  ViewData["Title"] = "Validazione risposte";
}

<h1>@ViewData["Title"]</h1>
<h3>di @Model.Utente.Nome</h3>

<div style='@ViewData["c1"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru1"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg1"]
  </div>
</div>
<div style='@ViewData["c2"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru2"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg2"]
  </div>
</div>
<div style='@ViewData["c3"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru3"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg3"]
  </div>
</div>
<div style='@ViewData["c4"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru4"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg4"]
  </div>
</div>
<div style='@ViewData["c5"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru5"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg5"]
  </div>
</div>
<div style='@ViewData["c6"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru6"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg6"]
  </div>
</div>
<div style='@ViewData["c7"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru7"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg7"]
  </div>
</div>
<div style='@ViewData["c8"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru8"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg8"]
  </div>
</div>
<div style='@ViewData["c9"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru9"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg9"]
  </div>
</div>
<div style='@ViewData["c10"]'>
  <div style="margin: 5px; padding: 10px; border: 1px solid rgb(255, 145, 0);">
    @ViewData["ru10"]
  </div>
  <div style="margin: 5px; padding: 10px; border: 2px solid rgb(0, 41, 128);">
    @ViewData["rg10"]
  </div>
</div>

